* {
    margin: 0;
}

.parent {
    background: rgba(18, 18, 24, 0.55);
    background-size: cover;
    height: 60px;
}

.logo {
    fill: white;
    margin:auto;
    transition-delay: 0.5ms;
}

.logo:hover {
    fill: #13639f;
    cursor: pointer;
}

.Items {
    display: flex;
    flex-direction: row;
    gap: 60px;
    height: 60px;
    align-items: center;
    color: white;
}

.Items .Item3 {
    position: absolute;
    right:5px;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.Item2 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 40px;
    align-items:  center;
}

.Item2 .subItem1:hover, .Item2 .subItem2:hover, .Item2 .subItem3:hover {
    background: #3c3c59;
    border-radius: 20px;
    cursor: pointer;
}

.Item2 .subItem1, .Item2 .subItem2, .Item2 .subItem3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 80px;
    height: inherit;
}